<h1>Products</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Created At</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= link_to product.id, admin_product_path(product) %></td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.created_at %></td>
    </tr>
  <% end %>
</table>
