
  <% for product in @products %>
    <div class="col-sm-4">
      <%= link_to '#TODO' do %>
        <%= image_tag product.image_url, width: 200 %>
        <br/>
        <%= product.name %>
      <% end %>
    </div>
  <% end %>
